# Playground

Para que los alumnos jueguen!

In [46]:
import skcriteria as skc

In [47]:
skc.VERSION

'0.8.6'

In [48]:
from  skcriteria.preprocessing import impute

In [49]:
dm = skc.datasets.load_simple_stock_selection()

In [50]:
arr = dm.matrix.to_numpy()
arr = arr.astype(float)

In [51]:
arr[1][2] = np.nan

In [52]:
arr

array([[ 7.,  5., 35.],
       [ 5.,  4., nan],
       [ 5.,  6., 28.],
       [ 3.,  4., 36.],
       [ 1.,  7., 30.],
       [ 5.,  8., 30.]])

In [54]:
skc.DecisionMatrix.copy = functools.wraps(skc.DecisionMatrix.from_mcda_data, assigned=["__annotations__"])(skc.DecisionMatrix.copy)

In [58]:
dm.copy(matrix=arr, dtypes=None)

    ROE[▲ 2.0]  CAP[▲ 4.0]  RI[▼ 1.0]
PE         7.0         5.0       35.0
JN         5.0         4.0        NaN
AA         5.0         6.0       28.0
FX         3.0         4.0       36.0
MM         1.0         7.0       30.0
GN         5.0         8.0       30.0
[6 Alternatives x 3 Criteria]

In [ ]:
def change_at(self, a=None, c=None):
    if (a, b) == (None, None):
        ...
    elif

In [45]:
dm.loc[[True, False, True, True, True, True]]

    ROE[▲ 2.0]  CAP[▲ 4.0]  RI[▼ 1.0]
PE           7           5         35
AA           5           6         28
FX           3           4         36
MM           1           7         30
GN           5           8         30
[5 Alternatives x 3 Criteria]

In [34]:
from skcriteria.agg import simus

In [39]:
weighters.EntropyWeighter().transform(dm)

    ROE[▲ 0.733217]  CAP[▲ 0.223316]  RI[▼ 0.043467]
PE                7                5              35
JN                5                4              26
AA                5                6              28
FX                3                4              36
MM                1                7              30
GN                5                8              30
[6 Alternatives x 3 Criteria]